.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    height: 170px;
    margin-top: 2em;
    border-top: 3px solid #111;
    color: white
}

.footer span {
    font-weight: bold;
}